html{
    background-color: rgb(208, 187, 237);
}
h1{
    color: rgb(132, 38, 149)
}
footer{
    color: rgb(3, 128, 119)
}
h2{
    color: rgb(255, 255, 255)
}
.para-attribs{
    color: rgb(103, 5, 120);
    font-size: 20px;
}
#text-align{
    text-align: center
}
#resize-font{
    font-size: 20px;
}